@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #000000;
    --color-text-muted: #374151; /* gray-500 */
    --color-primary: #2563eb; /* blue-600 */
    --color-primary-dark: #93c5fd; /* blue-300 */
  }

  .theme-article {
    --color-primary: #d97706; /* amber-600 */
    --color-primary-dark: #fcd34d; /* amber-300 */
  }

  .theme-comic {
    --color-primary: #0d9488; /* amber-600 */
    --color-primary-dark: #5eead4; /* amber-300 */
  }

  .theme-poem {
    --color-primary: #db2777; /* pink-600 */
    --color-primary-dark: #f9a8d4; /* pink-300 */
  }

  .theme-puzzle {
    --color-primary: #7c3aed; /* indigo-600 */
    --color-primary-dark: #c4b5fd; /* indigo-300 */
  }

  .content-width {
    @apply mx-auto sm:max-w-lg md:max-w-xl lg:max-w-prose;
  }

  h1 {
    @apply text-4xl mb-6 font-bold dark:text-gray-100 transition-colors;
  }

  h2 {
    @apply text-3xl mt-10 mb-4 font-semibold dark:text-gray-100 transition-colors;
  }

  h3 {
    @apply text-2xl mt-8 mb-3 font-semibold dark:text-gray-100 transition-colors;
  }
  h4 {
    @apply text-xl mt-6 mb-2 font-medium dark:text-gray-100 transition-colors;
  }

  p {
    @apply my-6 dark:text-gray-100 transition-colors leading-relaxed;
  }

  .math-display,
  .math-inline {
    @apply dark:text-purple-400 transition-colors;
  }

  li {
    @apply my-2 dark:text-gray-100 transition-colors;
  }

  a {
    @apply text-primary-light dark:text-primary-dark hover:underline active:text-pink-600 dark:active:text-pink-300 transition-colors;
  }

  /* code {
    @apply px-2 py-1 rounded-md bg-pink-50 text-pink-600 dark:bg-gray-700 dark:text-pink-200 transition-colors;
  } */

  hr {
    @apply my-6 border-primary-light dark:border-primary-dark transition-colors;
  }

  blockquote {
    @apply bg-gray-200 dark:bg-gray-800 border-l-4 border-gray-400 dark:border-gray-400 rounded-sm text-lg px-3 py-2 max-w-max transition-colors;
  }

  blockquote p {
    @apply inline;
  }

  cite {
    @apply dark:text-gray-100 transition-colors;
  }
}

/* @layer components {
  .page-enter-active {
    transition: all 0.20s ease-in;
  }
  .page-enter {
    transform: translateY(4px);
    opacity: 0;
  }
  .page-leave-active {
    transition: all 0.10s ease-out;
  }
  .page-leave-to {
    transform: translateY(-2px);
    opacity: 0;
  }
} */

.math-display,
.math-inline {
  @apply dark:text-gray-100 transition-colors;
}
/* prismjs code block */
code[class*="language-"],
pre[class*="language-"] {
  @apply rounded-md;
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-300 z-10 mr-2 mt-1 text-sm;
}

.nuxt-content ul li {
  @apply list-disc ml-8;
}

.nuxt-content ol li {
  @apply list-decimal ml-8;
}

.float-right {
  float: right;
}

.align-center {
  display: flex;
  justify-content: center;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}
