@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #000000;
    --color-text-muted: #374151; /* gray-500 */
    --color-primary: 37, 99, 235; /* blue-600 */
    --color-primary-dark: 147, 197, 253; /* blue-300 */
    --color-primary-100: 219, 234, 254; /* blue-100 */
    --color-primary-900: 30, 58, 138; /* blue-900 */
  }

  .theme-poem {
    --color-primary-dark: 249, 168, 212; /* pink-300 */
    --color-primary: 219, 39, 119; /* pink-600 */

    --color-primary-100: 252, 231, 243; /* pink-100 */
    --color-primary-900: 131, 24, 67; /* pink-900 */
  }

  .theme-article {
    --color-primary-dark: 125, 211, 252; /* sky-300 */
    --color-primary: 2, 132, 199; /* sky-600 */

    --color-primary-100: 224, 242, 254; /* sky-100 */
    --color-primary-900: 12, 74, 110; /* sky-900 */
  }

  .theme-puzzle {
    --color-primary-dark: 196, 181, 253; /* violet-300 */
    --color-primary: 124, 58, 237; /* violet-600 */

    --color-primary-100: 237, 233, 254; /* violet-100 */
    --color-primary-900: 76, 29, 149; /* violet-900 */
  }

  .theme-default {
    --color-primary-dark: 147, 197, 253; /* blue-300 */
    --color-primary: 37, 99, 235; /* blue-600 */

    --color-primary-100: 219, 234, 254; /* blue-100 */
    --color-primary-900: 30, 58, 138; /* blue-900 */
  }

  body {
    @apply selection:bg-primary-dark selection:bg-opacity-60 dark:selection:bg-primary-light dark:selection:bg-opacity-60;
  }

  .content-width {
    @apply mx-auto sm:max-w-lg md:max-w-xl lg:max-w-prose;
  }

  h1 {
    @apply text-5xl font-medium tracking-tighter leading-tight
    mb-6 dark:text-gray-100 transition-colors;
  }

  h2 {
    @apply text-3xl mt-12 mb-6 font-semibold tracking-tight dark:text-gray-100 transition-colors;
  }

  h3 {
    @apply text-2xl mt-10 mb-4 tracking-tight font-semibold dark:text-gray-100 transition-colors;
  }
  h4 {
    @apply text-xl mt-8 mb-3 font-semibold dark:text-gray-100 transition-colors;
  }

  p {
    @apply mt-2 mb-6 dark:text-gray-100 transition-colors leading-relaxed;
  }

  .math-display,
  .math-inline {
    @apply dark:text-purple-400 transition-colors;
  }

  li {
    @apply my-2 dark:text-gray-100 transition-colors;
  }

  a {
    @apply text-primary-light dark:text-primary-dark hover:underline active:text-pink-600 dark:active:text-pink-300 transition-colors;
  }

  /* code {
    @apply px-2 py-1 rounded-md bg-pink-50 text-pink-600 dark:bg-gray-700 dark:text-pink-200 transition-colors;
  } */

  hr {
    @apply my-6 border-primary-light dark:border-primary-dark transition-colors;
  }

  blockquote {
    @apply bg-gray-200 dark:bg-gray-800 border-l-4 border-gray-400 dark:border-gray-400 rounded-sm px-3 py-2 max-w-max transition-colors;
  }

  blockquote p {
    @apply inline;
  }

  cite {
    @apply dark:text-gray-100 transition-colors;
  }

  kbd {
    @apply bg-gray-700 text-sm text-white px-1 py-0.5 rounded;
  }
}

.math-display,
.math-inline {
  @apply dark:text-gray-100 transition-colors;
}
/* prismjs code block */
code[class*="language-"],
pre[class*="language-"] {
  @apply rounded-md;
  margin-bottom: 1.5rem !important;
  font-variant-ligatures: none;
}

/* styles inline code but not code blocks */
.nuxt-content p code,
.nuxt-content li code,
.nuxt-content h4 code {
  @apply rounded px-1 py-0.5 text-sm text-primary-900 bg-primary-dark bg-opacity-25
  dark:text-primary-100 dark:bg-primary-light dark:bg-opacity-20;
}

.nuxt-content h4 code {
  @apply text-lg;
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-300 z-10 mr-2 mt-1 text-sm;
}

.nuxt-content h2:first-of-type {
  @apply md:mt-2;
}
/* .nuxt-content h2,
.nuxt-content h3 {
  @apply text-primary-light dark:text-primary-dark;
} */
.nuxt-content ul li {
  @apply list-disc ml-8;
}

.nuxt-content ol li {
  @apply list-decimal ml-8;
}

.nuxt-content > ul,
.nuxt-content > ol {
  @apply my-6;
}
.nuxt-content figure {
  @apply my-8;
}

.float-right {
  float: right;
}

.align-center {
  display: flex;
  justify-content: center;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}
