@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    aspect-ratio: attr(width) / attr(height);
  }
  h1 {
    @apply text-4xl mb-6 font-bold dark:text-gray-100 transition-colors;
  }

  h2 {
    @apply text-3xl mt-10 mb-4 font-semibold dark:text-gray-100 transition-colors;
  }

  h3 {
    @apply text-2xl mt-8 mb-3 font-semibold dark:text-gray-100 transition-colors;
  }
  h4 {
    @apply text-xl mt-6 mb-2 font-medium dark:text-gray-100 transition-colors;
  }

  p {
    @apply mb-4 dark:text-gray-100 transition-colors leading-relaxed;
  }

  li {
    @apply my-2 dark:text-gray-100 transition-colors;
  }

  a {
    @apply text-blue-600 dark:text-blue-300 hover:underline active:text-pink-600 dark:active:text-pink-300 transition-colors;
  }
  hr {
    @apply my-6 border-gray-600 dark:border-gray-400 transition-colors;
  }
}

/* @layer components {
  .page-enter-active {
    transition: all 0.20s ease-in;
  }
  .page-enter {
    transform: translateY(4px);
    opacity: 0;
  }
  .page-leave-active {
    transition: all 0.10s ease-out;
  }
  .page-leave-to {
    transform: translateY(-2px);
    opacity: 0;
  }
} */
